name: FYP-UI-Project CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22.x

      - name: Install dependencies
        run: npm install

      - name: Build UI
        run: npm run build

      - name: Run Testim - Dashboard Page Load
        run: |
          npx @testim/testim-cli "Dashboard_PageLoad" \
            --project "cuilahore" \
            --token ${{ secrets.SCD }} \
            --grid default

      - name: Run Testim - Dashboard Navigation
        run: |
          npx @testim/testim-cli "Dashboard_Navigation" \
            --project "cuilahore" \
            --token ${{ secrets.SCD }} \
            --grid default

      - name: Run Testim - LiveMonitoring Page Load
        run: |
          npx @testim/testim-cli "LiveMonitoring_PageLoad" \
            --project "cuilahore" \
            --token ${{ secrets.SCD }} \
            --grid default

      - name: Run Testim - LiveMonitoring Switch Route
        run: |
          npx @testim/testim-cli "LiveMonitoring_SwitchRoute" \
            --project "cuilahore" \
            --token ${{ secrets.SCD }} \
            --grid default
